body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 37px;
  font-weight: 300;
}
h2 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}
h3 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
p {
  margin-bottom: 15px;
  color: #9ea8a4;
  font-size: 14px;
  line-height: 23px;
}
.button {
  display: inline-block;
  padding: 14px 26px;
  background-color: #435b99;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #b5b5b5;
}
.header {
  height: 530px;
  background-color: #f2f2f2;
  background-image: url('../images/self21_small.png');
  background-position: 84% -30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: black 0px 3px 0px 0px inset;
}
.header.sub-page {
  background-image: url('../images/profile-dude-blue.jpg');
  background-position: 50% 100%;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
.section.grey {
  background-color: #f0f0f0;
}
.section.green {
  background-color: #f2f7f6;
}
.nav-link {
  display: block;
  margin-bottom: 8px;
  font-family:'Roboto Condensed', sans-serif;
  color: #435b99;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #166bcc;
}
.navigation {
  position: fixed;
  z-index: 10;
  padding: 33px 19px 38px;
  border-top: 3px solid #435b99;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
}
.logo {
  margin-bottom: 22px;
  font-size: 33px;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
  text-transform: capitalize;
}
.align-right {
  padding-right: 25px;
  text-align: right;
}
.image {
  margin-bottom: 20px;
}
.thumbnail {
  margin-right: 21px;
  margin-bottom: 26px;
  padding: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.journal-entry {
  display: block;
  margin-bottom: 19px;
  padding: 18px 20px;
  border: 1px solid #dce6e4;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #333;
  text-decoration: none;
}
.journal-entry:hover {
  background-color: #f2f7f6;
}
.logo-link {
  color: #333;
  text-decoration: none;
}
.field {
  height: 53px;
  border: 1px solid #d1e6dd;
  box-shadow: transparent 0px 1px 0px 0px inset;
}
.field:focus {
  border-color: #24c786;
  box-shadow: transparent 0px 0px 8px 0px inset;
}
.field.comments {
  height: 101px;
}
.success {
  padding: 47px;
  background-color: #e3e3e3;
  color: black;
  text-align: center;
}
.contact {
  font-family:'Roboto Condensed', sans-serif;
  color: #435b99;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}
.contact-link {
  color: #435b99;
  text-align: center;
  text-decoration: none;
}
.contact-link:hover {
  color: #6b799c;
}
@media (max-width: 991px) {
  .align-right {
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .header {
    height: auto;
    background-position: 91% 2px;
    background-attachment: scroll;
  }
  .section {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .navigation {
    position: static;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: transparent 0px 0px 0px 1px;
  }
  .align-right {
    text-align: left;
  }
  .thumbnail {
    margin-right: 14px;
    margin-bottom: 15px;
  }
}
@media (max-width: 479px) {
  .header {
    background-position: 116% 19px;
  }
  .logo {
    font-size: 23px;
  }
}

